body {
    padding: 0;
    margin: 0;
    color:  #FFFFFD;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url(../images/icecrystalsvert.jpg)
}
nav {
    background-color: #0B476D;
    padding: 1rem 6rem;
}
nav ul {
    list-style-type: none;
}
nav li {
    display: inline-block;
    margin: 0 .7rem;
}
nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    text-decoration: none;
    margin-top: 10px;
    color: #78BE97;
}
.wrapper {
    margin: 0 auto;
    width: 83%;
    background-color: #71A8C2;
    /*display: flex;
    flex-basis: 80%;
    flex-flow: column;*/
}
h1, h2 {
    color:/* */ #CEF19E;
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 5px;
}
h1 {
    padding: 1rem 2rem 0 2rem;
    border: blue dashed;
    margin: 0;
}
 .intro {
    width: 100%;
    height: 416px; 
    margin: 0;
    padding: 0;
    display: block;
    background-image: url(../images/sunsetsmaller.jpg);
    
} 
h2 {
    display: block;
    justify-content: center; 
}
blockquote {
    
    justify-content: center;
    color: #398689
}
.site-footer {
        border: 2px solid #42352c;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-left: 1rem;
}
section h2 {
    display: flex;
    flex-flow: row nowrap;
    padding: 1em 0;
    border: pink solid;
}
form {
    flex-basis: 57%;
    /*margin-right: 10%;*/
}
section {
    display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
    border: 5px solid #42352c;
    
}
section .itemsrow {
    flex-basis: 30%;
    border: red dotted;
    margin: 4px;
}