body {
    padding: 0;
    margin: 0;
    color:  #0B476D;
    background-color: #A7DDA7;
    background-image: url(../images/icecrystalsvert.jpg)
}
nav {
    background-color: #0B476D;
    padding: 1rem;
}
nav ul {
    list-style-type: none;
}
nav li {
    display: inline-block;
}
nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    text-decoration: none;
    margin-top: 10px;
    color: #78BE97;
}
.wrapper {
    margin: 0 auto;
    width: 80%;
    border: cyan solid;
    /*display: flex;
    flex-basis: 80%;
    flex-flow: column;*/
}
h1, h2 {
    color:/* */ #CEF19E;
    font-family: Helvetica, Arial, sans-serif;
    background-color: /*#0045FF*/ #398689;
    padding-left: 5px;
}
blockquote {
    border: 5px solid black;
    padding: .5rem .5rem .5rem 1rem;
    color: #398689
}
.site-footer {
        border: 2px solid #42352c;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-left: 1rem;
}
section h2 {
    display: flex;
    flex-flow: row nowrap;
    padding: 1em 0;
    border: pink solid;
}
form {
    flex-basis: 57%;
    /*margin-right: 10%;*/
}
section {
    display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
    border: 5px solid #42352c;
    width: 80%;
}
section .itemsrow {
    /*flex-basis: 20%;*/
    border: red dotted;
}